<div>
  <h1>Timers</h1>
  <app-timer [init]="65" (onComplete)="logCountdownEnd()"></app-timer>
  <app-timer [init]="2" (onComplete)="logCountdownEnd()"></app-timer>
  <app-timer [init]="165" (onComplete)="logCountdownEnd()"></app-timer>

  <button class="add box-shadow" (click)="showAddTimer()">+</button>
<!--  [hidden]="!isAddTimerVisible"-->
  <app-alert-view [ngClass]="{'item__hidden': !isAddTimerVisible}"
                  [itemHidden]="!isAddTimerVisible"
                  class="app-alert-view">

    <div class="header">
      Add new timer
    </div>

    <label>Set the number of seconds for your timer: </label>
    <input [(ngModel)]="time" type="number" class="app-alert-view__input">

    <div class="buttons">
      <button class="cancel-button" (click)="hideAddTimer()">Cancel</button>
      <button (click)="hideAddTimer()">Ok</button>
    </div>

  </app-alert-view>
</div>

<!--<router-outlet></router-outlet>-->
