:host {
  .timer {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    -webkit-box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
  }

  app-progress-bar {
    width: 100%;
    margin: 0;
  }

  app-display {
    margin: 20px 0 20px;
    display: block;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    button {
      flex: 1;
      margin-right: 10px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

button {
  background: #222222;
  border: none;
  color: #ffffff;
  height: 40px;
}
