body {
  font-family: sans-serif;
}

.box-shadow {
  -webkit-box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
}

.buttons {
  display: flex;
  justify-content: space-between;
  button {
    flex: 1;
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.item__hidden {
  display: none;
}
